name: Build AdGuard DNS filter

on:
  schedule:
    - cron: '24 19 */2 * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
      
      - name: Get exclusions.txt
        run: wget https://raw.githubusercontent.com/AdguardTeam/AdGuardSDNSFilter/master/Filters/exclusions.txt -O Filters/exclusions.txt

      - name: yarn
        run: |
          yarn install
          yarn run build
          
      - name: Upload new filter
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add Filters/filter.txt
          git commit -m "Build filter"
          git push origin master

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: Filters/

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4